<div class="form-group">
	<label class="form-label" for="moreInfo">I need more info on...</label>
	<select class="form-control" id="moreInfo">
		<option selected="" value="unselected" disabled=""></option>
		<option value="General Security">General Security</option>
		<option value="Amazon Web Services">Amazon Web Services</option>
		<option value="Google Cloud Platform">Google Cloud Platform</option>
		<option value="HIPAA Compliance">HIPAA Compliance</option>
		<option value="Hybrid">Hybrid</option>
		<option value="Log Manager">Log Manager</option>
		<option value="Microsoft Azure">Microsoft Azure</option>
		<option value="PCI Compliance">PCI Compliance</option>
		<option value="Rackspace">Rackspace</option>
		<option value="Securing DevOps">Securing DevOps</option>
		<option value="Securing Public Cloud">Securing Public Cloud</option>
		<option value="Securing Web Applications">Securing Web Applications</option>
		<option value="SIEM">SIEM</option>
		<option value="Threat Management">Threat Management</option>
	</select>
</div>

<div class="form-check">
	<input type="checkbox" class="form-check-input" id="privacyPolicyConsent" >
	<label class="form-label" for="privacyPolicyConsent">
		I have acknowledged that I have read and agree to the <a href="https://www.alertlogic.com/terms-of-use/" target="_blank" id="">Terms of Use</a> and the <a href="https://www.alertlogic.com/privacy-statement/" target="_blank" id="">Alert Logic privacy policy</a>.
	</label>
</div>

<div class="form-check">
	<input type="checkbox" class="form-check-input" id="marketingOptIn" >
	<label class="form-label" for="marketingOptIn">
		I may also receive marketing communications regarding security updates, solutions, and events. I can unsubscribe at anytime.
	</label>
</div>