<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/styles.css">

  </head>
  <body>

	{% include header.html %}

	<section class="page-section page-section--hero" style="background-image:url('assets/img/testimonial-bg.jpg');">

		<div class="overlay overlay--dark-blue-heavy"></div>

		<div class="container">
			
			<div class="row">

				<div class="col-12 col-md-6 text-white">
					<div class="page-section__copy">
						<h1 class="h1 page-section__title">Need to Schedule A Demo?</h1>
						<p class="lead">Please fill out the form below in its entirety or call us directly at 844.816.1051, for the UK call +44 (0) 203 011 5533.</p>
					</div>
				</div>
		
				<div class="col-12 col-md-5 col-md-offset-1">
					<div class="page-section__box">
						{% include multi-step-form.html %}
					</div>
				</div>

			</div>

			</div>

		</div>

	</section>

	{% include header.html %}

	<section class="page-section" style="background-image:url('assets/img/AlertLogic-customers.jpg');">

		<div class="overlay overlay--dark-blue-heavy"></div>

		<div class="container">
			
			<div class="row">
		
				<div class="col-12 col-md-6 text-white">
					<div class="page-section__copy">
						<h1 class="h1 page-section__title">Need to Schedule A Demo?</h1>
						<p class="h3 font-weight-normal">Alert Logic is the industry’s first SaaS-enabled managed detection and response (MDR) provider, delivering unrivaled security value.</p><br>
						<p class="lead">Contact sales to learn more about MDR, to schedule a Demo or to learn more about our solutions.</p>
					</div>
				</div>

				<div class="col-12 col-md-5 col-md-offset-1">
					<div class="page-section__box">
						{% include form.html %}
					</div>

				</div>

			</div>

			</div>

		</div>

	</section>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
	<script src="assets/js/multiple-steps.js"></script>

  </body>
</html>
